.wrapper {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  font-size: 16px;

  a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #369;
    img {
      margin-right: 10px;
    }
  }
}

.linksWrapper {
  display: flex;
  align-items: start;
  gap: 15px;
  flex-direction: column;
  @media (min-width: 640px) {
    align-items: center;
    flex-direction: row;
  }
}
